@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');


:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
    --fs-13: 13px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img,
icon {
    display: block;
}

html {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-blue);
    padding: 20px;
}

.article__card {
    border-radius: 10px;
    display: flex;
    max-width: 730px;
    box-shadow: 6px 6px 5px hsl(0, 0%, 0%, 0.02),
        25px 25px 20px hsl(0, 0%, 0%, 0.03),
        100px 100px 88px hsla(0, 0%, 0%, 0.05);
}

.image__container {
    border-radius: 10px 0 0 10px;
    width: 285px;
    overflow: hidden;
}

.image__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: all 0.5s ease;
}

.article__card:hover .image__container img {
    transform: scale(1.1);
}

.article__content {
    min-width: 300px;
    max-width: 445px;
    background-color: var(--white);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
}

.article__content .article__title {
    font-size: 20px;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 12px;
    line-height: 1.4;
}

.article__content .article__text {
    font-size: var(--fs-13);
    color: var(--desaturated-dark-blue);
    margin-bottom: 18px;
    line-height: 1.5;
}

.social__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__content .author {
    display: flex;
    align-items: center;
}

.author .author__picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.author .author__name {
    color: var(--very-dark-grayish-blue);
    font-size: var(--fs-13);
}

.author .publish__date {
    color: var(--grayish-blue);
    font-size: var(--fs-13);
}

.share {
    position: relative;
}

.share__button {
    background-color: var(--light-grayish-blue);
    padding: 6px;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.25s ease;
}

.share__button:hover,
.share__button.active {
    background-color: var(--very-dark-grayish-blue);
}

.share__button:hover img,
.share__button.active img {
    filter: brightness(0%) invert(1);
}


.share__option {
    position: absolute;
    background-color: var(--very-dark-grayish-blue);
    box-shadow: 0 5px 20px -5px #0003;
    visibility: hidden;
    bottom: 45px;
    right: -80px;
    display: flex;
    gap: 12px;
    border-radius: 10px;
    padding: 17px 20px;
}

.share__option span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--grayish-blue);
}

.share__option.active {
    --scale: 1;
    visibility: visible;
}

.share__option::after {
    content: '';
    background: var(--very-dark-grayish-blue);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
}

.share__option img:hover,
.article__title:hover,
.author__name:hover {
    filter: invert(1);
}

@media screen and (max-width: 850px) {

    .article__card {
        flex-direction: column;
        max-width: 294px;
        overflow: visible;
    }

    .image__container {
        width: 294px;
        height: 240px;
        border-radius: 10px 10px 0 0;
    }

    .article__content .article__title {
        font-size: 16px;
    }

    .article__content {
        min-width: 294px;
        border-radius: 0 0 10px 10px;
        max-width: 90%;
    }


}