* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

:root {
    --reaction: hsl(0, 100%, 67%);
    --memory: hsl(39, 100%, 56%);
    --verbal: hsl(166, 100%, 37%);
    --visual: hsl(234, 85%, 45%);

    --gradient-one: hsl(252, 100%, 67%);
    --gradient-two: hsl(241, 81%, 54%);

    --gradient-circle-one: hsla(256, 72%, 46%, 1);
    --gradient-circle-two: hsla(241, 72%, 46%, 0);

    --neutral-one: hsl(0, 0%, 100%);
    --neutral-two: hsl(221, 100%, 96%);
    --neutral-three: hsl(241, 100%, 89%);
    --buttom: hsl(224, 30%, 27%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
}

.container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
    width: 650px;
    display: flex;
}

.container .side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .side:first-child {
    background: linear-gradient(var(--gradient-one), var(--gradient-two));
    border-radius: 2rem;
    color: var(--neutral-one);
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.side:first-child>h2 {
    color: var(--neutral-three);
    margin-bottom: 1rem;
}

.side h2 {
    font-size: 22px;
}

.side .circle {
    background: linear-gradient(var(--gradient-circle-one), var(--gradient-circle-two));
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side .circle span {
    font-size: 4rem;
}

.side .circle p {
    color: var(--neutral-three);
}

.side>p {
    color: var(--neutral-three);
    width: 200px;
}

.container .side:last-child {
    width: 50%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .side:last-child h2 {
    width: 100%;
    text-align: left;
}

.container .side ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.container .side ul li {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

ul li:nth-child(1) {
    background-color: hsla(0, 100%, 67%, .2);
}

ul li:nth-child(1) div span {
    color: var(--reaction);
}

ul li:nth-child(2) {
    background-color: hsla(39, 100%, 56%, 0.2);
}

ul li:nth-child(2) div span {
    color: var(--memory);
}

ul li:nth-child(3) {
    background-color: hsla(166, 100%, 37%, 0.2);
}

ul li:nth-child(3) div span {
    color: var(--verbal);
}

ul li:nth-child(4) {
    background-color: hsla(234, 85%, 45%, 0.2);
}

ul li:nth-child(4) div span {
    color: var(--visual);
}

.container .side button {
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    color: white;
    background-color: var(--buttom);

}

.container .side button:hover {
    cursor: pointer;
    background: linear-gradient(var(--gradient-one), var(--gradient-two));
}

 @media screen and (max-width: 650px) {

    body {
        align-items: flex-start;
        background-color: white;
    }

    .container {
        box-shadow: none;
        width: 100%;
        flex-wrap: wrap;
    }

    .container .side:first-child {
        border-radius: 0 0 1rem 1rem;
        width: 100%;
    }

    .container .side:last-child {
        width: 100%;
    }

     .container .side:first-child > p:last-of-type {
        width: 250px;
    }

}